.panel {
    position: absolute;
    width: 250px;
    left: 5vw;
    bottom: 10vh;
    z-index: 20;
    background-color: hsl(0 0% 31% /0.5);
    color: orange;
    border: 5px solid orange;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    display: block;
    text-align: left;
    padding: 1rem 5ch;
}

.infobox {
    line-height: 1.3em;
}
