@import url("https://fonts.cdnfonts.com/css/nasalization");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&family=Space+Mono&display=swap");

.panel {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 20;
    background-color: hsl(0 0% 0% /0.8);
    color: orange;
    border-radius: 0px;
    font-family: sans-serif;
    display: block;
    text-align: left;
    padding: 1rem 5ch 1rem;
    box-shadow: 1px 1px 40px 10px #867950;
    -webkit-user-select: none;
    user-select: none;
}

h1 {
    font: {
        family: "Nasalization Rg", sans-serif;
        size: 2em;
        weight: 400;
    }
    text-transform: uppercase;
    letter-spacing: 8px;
}

.infobox {
    line-height: 1.5em;
    font: {
        family: "Space Grotesk", sans-serif;
        size: 1em;
    }
}

.monospace {
    font: {
        family: "Space Mono", monospace;
        size: 0.9em;
    }
    padding-left: 1ch;
}

@media screen and (min-width: 600px) {
    .panel {
        position: absolute;
        width: 361px;
        left: 2.5vw;
        bottom: 5vh;
        z-index: 20;
        background-color: hsl(0 0% 0% /0.6);
        border-radius: 16px;
        box-shadow: 1px 1px 40px 5px #867950;
    }
    .infobox {
        line-height: 1.3em;
        font: {
            family: "Space Grotesk", sans-serif;
            size: 1.2em;
        }
    }
    h1 {
        font: {
            size: 2.5em;
        }
    }
    .monospace {
        font: {
            family: "Space Mono", monospace;
            size: 0.95em;
        }
        padding-left: 1ch;
    }
}
